<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
<style>
    div{
        width: 300px;
        height: 300px;
        margin: 5rem auto;
    }
</style>
</head>
<body>
    <div>
     <h1>You are successfully logged in</h1>
     <p>{{this.user.firstName}}{{this.user.lastName}}</p>
     <p>{{this.user.email}}</p>

    </div>
</body>
</html>